fastapi
uvicorn[standard]

sqlalchemy[asyncio]
asyncpg
alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-dotenv

httpx
pytest
pytest-asyncio
slowapi